*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* , *::after , *::before{
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

body {
  background-color: #f7f8fd;
  font-family: Arial, Helvetica, sans-serif;
}

.txt-capital {
  text-transform: capitalize;
}
.d-flex{
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}
 .gap-half{
  gap: 0.5rem;
 }
/* navigation
============================ */
.nav-container {
  max-width: 1300px;
  margin: 0 auto;
}
.nav-section {
  width: 100%;
  /* height: 100px; */
  background-color: white;
  margin-top: 2rem;
  border-radius: 12px;
  box-shadow: 0 0.1rem 8px 0 rgba(0, 0 , 0 ,0.1);
  padding: 1rem 2rem;
}

/* left section >> brand logo and name  */

.nav-section .left-nav {
  gap: 0.5rem;
}
.brand-logo {
  width: 50px;
}
.nav-section .left-nav h3{
  color: #000e55;
}

/* center section >> menu items */

.nav-section .center-nav .menu{
  gap: 2.5rem;
}
.nav-section .center-nav .menu li a{
  color: #000e55;
  font-size: 15px;
  font-weight: 600;
}

/* right section >> group icons and user profile */

.right-nav {
  gap: 2.5rem;
}

.right-nav .group-icon{
  gap: 2.5rem;
}

.right-nav .group-icon a{
  font-size: 1rem;
  color: #000e55;
  font-size: 15px;
}

.right-nav .user-profile_section{
  gap: 2rem;
}

.right-nav .user-profile_section .user-profile{
  width: 50px;
}
.right-nav .user-profile_section .user-profile img{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}