@media all and (min-width:576px){
  .header-bottom-left__para{
    width: 50rem;
    text-align: left;
  }
  .header-bottom-left__title{
    text-align: left;
  }
  .header-bottom-left__form form input {
    width: 30rem;
  }
  .header-bottom-left__form form button  {
    width: 15rem;
  }
}
@media all and (min-width:768px){
  
}
@media all and (min-width:992px){
  .menu-wrapper{
    display: block;
  }
  .header-bottom{
    margin-top: 22rem;
  }
  .header-bottom{
    flex-wrap: nowrap;
  }
  .header-bottom-right__img--translate {
    transform: translateY(-3rem);
    -webkit-transform: translateY(-3rem);
    -moz-transform: translateY(-3rem);
    -ms-transform: translateY(-3rem);
    -o-transform: translateY(-3rem);
}
}
@media all and (min-width:1200px){
  
}