@media all and (min-width:576px){
  
}
@media all and (min-width:768px){
  .nav__btn{
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .nav__profile-status{
    display: block;
  }
}
@media all and (min-width:992px){
  .nav__icons{
    display: flex;
  }
  .nav__icon{
    color: #2f5eff;
  }
}
@media all and (min-width:1200px){
  .website-name__title{
    display: block;
  }
}